MAPMAClient/Connected Services/BookRef/BookingServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8734/Design_Time_Addresses/Booking" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://localhost:8733/Design_Time_Addresses/Booking/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingServices" targetNamespace="http://localhost:8734/Design_Time_Addresses/Booking" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://localhost:8733/Design_Time_Addresses/Booking/" location="http://localhost:8733/Design_Time_Addresses/Booking/?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8734/Design_Time_Addresses/Booking/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Booking/?xsd=xsd0" namespace="http://localhost:8734/Design_Time_Addresses/Booking" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Booking/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Booking/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/Booking/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookingServices_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IBookingServices_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingServices_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IBookingServices_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IBookingServices_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IBookingServices_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookingServices">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/Create" message="tns:IBookingServices_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/CreateResponse" message="tns:IBookingServices_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/Get" message="tns:IBookingServices_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/GetResponse" message="tns:IBookingServices_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/Delete" message="tns:IBookingServices_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8734/Design_Time_Addresses/Booking/IBookingServices/DeleteResponse" message="tns:IBookingServices_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="BookingServices">
    <wsdl:port name="BasicHttpBinding_IBookingServices" binding="i0:BasicHttpBinding_IBookingServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Booking/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>