MAPMAClient/Connected Services/CusRef/CustomerServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8737/Design_Time_Addresses/Customer/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerServices" targetNamespace="http://localhost:8737/Design_Time_Addresses/Customer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8737/Design_Time_Addresses/Customer/Imports">
      <xsd:import schemaLocation="http://localhost:8737/Design_Time_Addresses/Customer/?xsd=xsd0" namespace="http://localhost:8737/Design_Time_Addresses/Customer/" />
      <xsd:import schemaLocation="http://localhost:8737/Design_Time_Addresses/Customer/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8737/Design_Time_Addresses/Customer/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerServices_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ICustomerServices_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerServices">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Get" message="tns:ICustomerServices_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/GetResponse" message="tns:ICustomerServices_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Register" message="tns:ICustomerServices_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/RegisterResponse" message="tns:ICustomerServices_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Login" message="tns:ICustomerServices_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/LoginResponse" message="tns:ICustomerServices_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerServices" type="tns:ICustomerServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://localhost:8737/Design_Time_Addresses/Customer/ICustomerServices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerServices">
    <wsdl:port name="BasicHttpBinding_ICustomerServices" binding="tns:BasicHttpBinding_ICustomerServices">
      <soap:address location="http://localhost:8737/Design_Time_Addresses/Customer/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>