MAPMAServiceLayers/Connected Services/BookingRef/Booking.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://localhost:8734/Design_Time_Addresses/Booking" elementFormDefault="qualified" targetNamespace="http://localhost:8734/Design_Time_Addresses/Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmpID" type="xs:int" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ER_ID" type="xs:int" />
        <xs:element minOccurs="0" name="bookTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="AOP" type="xs:int" />
        <xs:element minOccurs="0" name="Bdate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>