MAPMAClient/Connected Services/EmpRef/EmplyeeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://localhost:8736/Design_Time_Addresses/Employee/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmplyeeServices" targetNamespace="http://localhost:8736/Design_Time_Addresses/Employee/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8736/Design_Time_Addresses/Employee/Imports">
      <xsd:import schemaLocation="http://localhost:8736/Design_Time_Addresses/Employee/?xsd=xsd0" namespace="http://localhost:8736/Design_Time_Addresses/Employee/" />
      <xsd:import schemaLocation="http://localhost:8736/Design_Time_Addresses/Employee/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8736/Design_Time_Addresses/Employee/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmplyeeServices_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IEmplyeeServices_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IEmplyeeServices_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IEmplyeeServices_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmplyeeServices">
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/Get" message="tns:IEmplyeeServices_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/GetResponse" message="tns:IEmplyeeServices_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/GetAll" message="tns:IEmplyeeServices_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/GetAllResponse" message="tns:IEmplyeeServices_GetAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmplyeeServices" type="tns:IEmplyeeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Get">
      <soap:operation soapAction="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/Get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://localhost:8736/Design_Time_Addresses/Employee/IEmplyeeServices/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmplyeeServices">
    <wsdl:port name="BasicHttpBinding_IEmplyeeServices" binding="tns:BasicHttpBinding_IEmplyeeServices">
      <soap:address location="http://localhost:8736/Design_Time_Addresses/Employee/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>